# --- Archivos del entorno de Android Studio / IntelliJ ---
.idea/
*.iml
.DS_Store

# --- Archivos Gradle y Build ---
.gradle/
build/
*/build/
captures/
.externalNativeBuild/
.cxx/

# --- Archivos locales y sensibles ---
local.properties
google-services.json
app/google-services.json
firebase-debug.log

# --- Archivos del sistema operativo ---
*.log
*.tmp
*.swp
*.bak
Thumbs.db
ehthumbs.db

# --- Archivos del empaquetado ---
*.apk
*.ap_
*.aab

# --- Scripts temporales / instalación ---
*.sh~
*.ps1~
*.bat~

